Level 1 - Hello World

In [2]:
print("hello world")

hello world

Level 2 - Create & Save Simple Notebook / Script (considered done)

Level 3 - Learn basic data type and variables in Py

Data Types in Python
Int: numeric - 20
Float: numeric - 20.5
Str: text - "Hello World" 
List: sequence - ["apple", "banana", "cherry"]
Dict: mapping - {"name" : "John", "age" : 30}

Variables in Python
Default declaration: x = 5
Declare with casting: x = int(5)
note: "John" = 'John' #string
note: a = 4 is NOT the same as A = 4 #variable are case sensitive

Level 4 - write a program to perform basic arithmetic operations in Python

In [ ]:
addition = 2+3
print('the value of addition is:', addition)

substraction = 3 - 2
print('the value of substraction is:', substraction)

multiplication = 2 * 3
print('the value of multiplication is:', multiplication)

division=10 / 3
print('the value of division is:', division)

modulus = 100 % 75 #modulus count the remainder. 100 divided by 75 is 1 with remainder 25
print('the value of modulus is:', modulus)

exponentiation = 2**3 #2 to the power of 3. 2*2*2
print('the value of exponentiation is:', exponentiation)

floor_division = 10 // 3 #floor division is the same as division but it will round down to the nearest whole number
print('the value of floor division is:', floor_division)

the value of addition is: 5
the value of substraction is: 1
the value of multiplication is: 6
the value of division is: 3.3333333333333335
the value of modulus is: 25
the value of exponentiation is: 8
the value of floor division is: 3

Level 5 - create a list of number in Python and calculate the sum and mean of the list

In [38]:
list = [10, 20, 30, 40, 50]
print('the first element of the list is',list[0])
print('the list is containing the following numbers:',list)

appended_list = list.copy()
appended_list.append(60)
print('after adding append, the list is now:',appended_list)

total = sum(list)
print('the sum of list_of_number is', total,'from a list that containing the following numbers', list)

mean = total / len(list)
print('the mean of list_of_number is', mean,'from a list that containing the following numbers', list)

the first element of the list is 10
the list is containing the following numbers: [10, 20, 30, 40, 50]
after adding append, the list is now: [10, 20, 30, 40, 50, 60]
the sum of list_of_number is 150 from a list that containing the following numbers [10, 20, 30, 40, 50]
the mean of list_of_number is 30.0 from a list that containing the following numbers [10, 20, 30, 40, 50]

Level 6 - read a csv file into Python using Pandas

In [84]:
import pandas as pd

df = pd.read_csv('industry.csv')

print(df.to_string())

                         Industry  id
0              Accounting/Finance   1
1    Advertising/Public Relations   2
2              Aerospace/Aviation   3
3   Arts/Entertainment/Publishing   4
4                      Automotive   5
5                Banking/Mortgage   6
6            Business Development   7
7            Business Opportunity   8
8         Clerical/Administrative   9
9         Construction/Facilities  10
10                 Consumer Goods  11
11               Customer Service  12
12             Education/Training  13
13               Energy/Utilities  14
14                    Engineering  15
15            Government/Military  16
16                          Green  17
17                     Healthcare  18
18             Hospitality/Travel  19
19                Human Resources  20
20       Installation/Maintenance  21
21                      Insurance  22
22                       Internet  23
23                Job Search Aids  24
24       Law Enforcement/Security  25
25                          Legal  26
26           Management/Executive  27
27       Manufacturing/Operations  28
28                      Marketing  29
29           Non-Profit/Volunteer  30
30         Pharmaceutical/Biotech  31
31          Professional Services  32
32             QA/Quality Control  33
33                    Real Estate  34
34        Restaurant/Food Service  35
35                         Retail  36
36                          Sales  37
37               Science/Research  38
38                  Skilled Labor  39
39                     Technology  40
40             Telecommunications  41
41       Transportation/Logistics  42
42                          Other  43

Level 7 - Perform basic data inspection (column names, data type, and summary statistic) in Python

In [83]:
import pandas as pd
import numpy as np

df = pd.read_csv('industry.csv')

print(df)
print('no 1: ',df.columns) #inspect column names
print('no 2: ',df.columns[1]) #inspect specific column name
print('no 3: ',df.dtypes) #inspect data types
print('no 4: ',df[df.columns[1]].dtypes) #inspect specific column data type
print(df.describe()) #summary statistic

                         Industry  id
0              Accounting/Finance   1
1    Advertising/Public Relations   2
2              Aerospace/Aviation   3
3   Arts/Entertainment/Publishing   4
4                      Automotive   5
5                Banking/Mortgage   6
6            Business Development   7
7            Business Opportunity   8
8         Clerical/Administrative   9
9         Construction/Facilities  10
10                 Consumer Goods  11
11               Customer Service  12
12             Education/Training  13
13               Energy/Utilities  14
14                    Engineering  15
15            Government/Military  16
16                          Green  17
17                     Healthcare  18
18             Hospitality/Travel  19
19                Human Resources  20
20       Installation/Maintenance  21
21                      Insurance  22
22                       Internet  23
23                Job Search Aids  24
24       Law Enforcement/Security  25
25                          Legal  26
26           Management/Executive  27
27       Manufacturing/Operations  28
28                      Marketing  29
29           Non-Profit/Volunteer  30
30         Pharmaceutical/Biotech  31
31          Professional Services  32
32             QA/Quality Control  33
33                    Real Estate  34
34        Restaurant/Food Service  35
35                         Retail  36
36                          Sales  37
37               Science/Research  38
38                  Skilled Labor  39
39                     Technology  40
40             Telecommunications  41
41       Transportation/Logistics  42
42                          Other  43
no 1:  Index(['Industry', 'id'], dtype='object')
no 2:  id
no 3:  Industry    object
id           int64
dtype: object
no 4:  int64
              id
count  43.000000
mean   22.000000
std    12.556539
min     1.000000
25%    11.500000
50%    22.000000
75%    32.500000
max    43.000000

Level 8: Filter rows based on a condition (e.g., select rows where a column value > 50).

In [97]:
import pandas as pd

df = pd.read_csv('industry.csv')

filter = df.query('id == 13')

print(filter)

   Industry  id
12      NaN  13

Level 9: Handle missing data by replacing NA/NaN with a specific value in Python and R.

In [ ]:
import pandas as pd

df = pd.read_csv('industry.csv')

filter = df.query('Industry.isna()')

print(df)

print(filter)

   Industry  id
12      NaN  13

Level 10: Save a filtered or modified dataset back to a new CSV file in both Python and R.

Level 11: Create a basic line plot using Python (matplotlib) and R (plot).

Level 12: Generate a bar plot for categorical data using Python (seaborn) and R (ggplot2).

Level 13: Create a histogram to visualize the distribution of numerical data.

Level 14: Generate a scatter plot with labels and a trendline in Python and R

Level 15: Combine multiple plots into one figure using Python (matplotlib.subplot) and R (ggarrange).

Level 16: Calculate summary statistics (mean, median, standard deviation) for a numerical column.

Level 17: Perform a correlation analysis between two numerical columns and visualize it with a heatmap.

Level 18: Perform a t-test for comparing means between two groups in Python (scipy) and R (t.test).

Level 19: Conduct a chi-square test for categorical variables.

Level 20: Perform a linear regression analysis and interpret the coefficients.

Level 21: Merge two datasets using a common key in Python (pandas.merge) and R (merge).

Level 22: Group data by a categorical variable and calculate aggregated statistics (e.g., mean, count).

Level 23: Reshape data between wide and long formats using Python (pandas.melt) and R (tidyr::pivot_longer).

Level 24: Handle time-series data (e.g., parse dates, calculate rolling averages).

Level 25: Create new variables based on existing columns (e.g., calculate a profit margin column).

Level 26: Build a simple classification model using Python (scikit-learn) and R (caret).

Level 27: Perform cross-validation to evaluate your model.

Level 28: Create an interactive dashboard using Python (Plotly Dash) and R (Shiny).

Level 29: Automate a data analysis pipeline that reads raw data, cleans it, performs analysis, and saves results.

Level 30: Apply your skills to a real-world dataset (e.g., Kaggle) and produce a complete report, including data cleaning, analysis, visualization, and insights.